.maintenance {
	align-content: center;
	justify-content: center;
	align-items: center;

	&__content {
		display: flex;
		flex-direction: column;
		max-width: 1000px;
		align-items: center;
		text-align: center;

		h1,
		p,
		img {
			margin-bottom: 25px;
		}
	}

	&__corpo {
		max-width: 100px;
	}
}