/vendor
/node_modules
/public_html/storage
/public_html/hot
/storage/*.key
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*
.env
.env.bak
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea/
.vscode/
*.sql
dump_err.log
.DS_Store
public_html.old.zip
