[data-component=scrollfire] {
	transition-delay: 0ms;
}

[data-component=scrollfire] {

	&.anim-fire,
	&.anim-fire .anim-child {
		opacity: 1;
		transform: none;
	}
}

@media not print {
	
	.anim-fade-in {
		opacity: 0;
		transition: opacity 800ms, cubic-bezier(0.215, 0.61, 0.355, 1);
	}

	.anim-fade-up {
		opacity: 0;
		transform: translateY(100px);
		transition: opacity 800ms, transform 800ms cubic-bezier(0.215, 0.61, 0.355, 1);
	}

	.anim-delay-1 {
		transition-delay: 100ms;
	}

	.anim-delay-2 {
		transition-delay: 200ms;
	}

	.anim-delay-3 {
		transition-delay: 300ms;
	}

	.anim-delay-4 {
		transition-delay: 400ms;
	}

	.anim-delay-5 {
		transition-delay: 500ms;
	}

	.anim-delay-6 {
		transition-delay: 600ms;
	}

	.anim-delay-7 {
		transition-delay: 700ms;
	}

	.anim-delay-8 {
		transition-delay: 800ms;
	}

	.anim-delay-9 {
		transition-delay: 900ms;
	}

	.anim-delay-10 {
		transition-delay: 1000ms;
	}
}
