@use "helpers";
@use "settings";

$min-header-size: var(--single-header-image-height);

.job-offer-content {
  max-width: 500px;
}

.single-list__item {
  padding: 8px;
  border-radius: 8px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  :first-child {
    margin-right: auto;
  }

  .call-to-action {
    margin-bottom: 0;
  }

  &__image {
    max-height: 160px;
    width: 212px;
    object-fit: cover;
  }
}

.single-list {
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 100%;
}

.single {

  display: inline-flex;
  flex-direction: column;
  box-shadow: rgba(#101010, .15) 0 3px 20px;
  border-radius: 8px;
  padding: 8px;

  .see-more {
    text-decoration: underline;
    line-height: 2em;

  }

  h3, h4 {
    color: black;
  }

  &__image-container {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: $min-header-size;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      max-width: 100%;
    }
  }

  &__body {

    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 16px;

    &--need-inner-spacing {
    }

    & > *:last-child {
      margin-bottom: 0;
    }
  }


  &__title, &__subtitle {
    text-align: left;
  }

  &__text {
    flex-grow: 1;
  }


  //MINI CARDS FLIP FRONT - BACK
  &--flip {
    cursor: pointer;
    border: none;
  }

  &--flip,
  &--no-flip {
    perspective: 1000px;
    position: relative;

    * {
      transform-style: preserve-3d;
      backface-visibility: hidden;
    }

    &.flipped {
      .single-front {
        transform: rotateY(-180deg);
      }

      .single-back {
        transform: rotateY(0deg);
      }
    }
  }

  &-front {

    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    position: relative;
    transform: rotateY(0deg);
    width: 100%;

    &-titles {
      position: absolute;
      left: 0;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      margin: 0;
      padding: 0 settings.$padding;
      text-align: center;
      font-weight: normal;

      & > *:last-child {
        margin-bottom: 0;
      }
    }

    &-title,
    &-sub-title {
      color: white;
      text-shadow: 0 0 5px black;
    }

    &__image-container {
      background-position: center;
      background-repeat: no-repeat;

      height: $min-header-size;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        max-width: 100%;
      }
    }

  }

  &-back {
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: settings.$padding;
    width: 100%;

    & > .content-writable {
      @include helpers.font-scale(settings.$font-size);
      margin-bottom: 1em;
      overflow: hidden;
      flex-grow: 1;

      & > *:last-child {
        margin-bottom: 0;
      }
    }

    & > *:last-child {
      margin-bottom: 0;
    }
  }

  &-front,
  &-back {
    transition: all 0.5s ease-out 0s;
    border: 1px solid settings.$color-tertiary;
  }

  .call-to-action {
    margin-top: settings.$padding;
  }
}
