@use "settings";

.tab-window {
  border-top: none;
  min-height: 20px;
  padding: 15px;
  border-radius: 4px;
}

.button-fullwidth {
  .call-to-action {
    @extend .full-width-center;
  }
}

.full-width-center {
  width: 100%;

  text-align: center;
}

.tab-menu {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  border: none;
  width: 100%;
  border-radius: 4px 4px 0 0;
  justify-content: center;

  &.nested-tabs {
    margin-bottom: 24px;
  }

  .tab-item {
    padding: 10px;

    &.active {
      color: settings.$color-primary;
      font-weight: 600;
    }
  }
}

.tabs {
  display: flex;
}
.tab {
  padding: 10px 20px;
  cursor: pointer;
}
.tab.active {
  background-color: #eee;
}
 .nested-tabcontent {
  padding: 20px;
  display: none;
}
 .nested-tabcontent.active {
  display: block;
}

 .nested-tab {
   display:none;
   &.active-tab {
     cursor: pointer;
     display: block;
   }
 }