//===========================================
// Couleur
//===========================================

// Standard

// Primaire
$color-primary: var(--sl-color-primary-600);
// Secondaire
$color-secondary: #0026AC;
// Tertiaire
$color-tertiary: #262F2E;
// Quaternaire
$color-quaternary: clear;
$color-gold: #AF8F44;
$color-grey-dark: #74777D;
$color-grey: #989BA0;
$color-offwhite: #EBEDEF;
$color-black: #262F2E;

// TODO: utile?
$color-error: #ee2547;
$color-success: #5ebe56;
$color-info: #01a4cf;
$color-warning: #f0ad4e;
