//===========================================
// Espacements
//===========================================

// Petit espacement
$spacer: 5px;
// Moyen espacement
$gutter: 10px;
// Grand espacement
$padding: 20px;